<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="karnix.the.ssn.ssnmachan"
    android:versionCode="6"
    android:versionName="Smudge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="karnix.the.ssn.app.TheSsnApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="karnix.the.ssn.app.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="karnix.the.ssn.app.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name="karnix.the.ssn.app.activity.NewsFeedActivity" />

        <activity android:name="karnix.the.ssn.app.activity.dining.DiningActivity" />
        <activity
            android:name="karnix.the.ssn.app.activity.dining.DiningMenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="karnix.the.ssn.app.activity.bus.BusActivity" />
        <activity android:name="karnix.the.ssn.app.activity.bus.BusResultActivity" />
        <activity android:name="karnix.the.ssn.app.activity.alerts.AlertsActivity" />

        <activity android:name="karnix.the.ssn.app.activity.alerts.AlertDetailActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="karnix.the.ssn.app.activity.MessageActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="karnix.the.ssn.app.activity.GoogleSignInActivity" />

        <activity android:name="karnix.the.ssn.app.activity.AboutActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="karnix.the.ssn.app.activity.SettingsActivity" />

        <service android:name="karnix.the.ssn.app.utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="karnix.the.ssn.app.utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primaryColor" />
    </application>
</manifest>
